<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499749354243-encsbgp8k03obobpvf1egme1rvje8j1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499749354243-encsbgp8k03obobpvf1egme1rvje8j1u</string>
	<key>API_KEY</key>
	<string>AIzaSyBt4pNguOMWE-3nci2M86AvhW-ofhM1ByI</string>
	<key>GCM_SENDER_ID</key>
	<string>499749354243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allcapssoftware.FirebaseLoginSignup</string>
	<key>PROJECT_ID</key>
	<string>new-project-f4ac4</string>
	<key>STORAGE_BUCKET</key>
	<string>new-project-f4ac4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499749354243:ios:65a3745f5649d0da</string>
	<key>DATABASE_URL</key>
	<string>https://new-project-f4ac4.firebaseio.com</string>
</dict>
</plist>